<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="BDtpiAutomoviles" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-L4UM4R\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=TPI_Laboratorio"/>
  </connectionStrings>
</configuration>